

body {
  display: flex ;
  background-image: linear-gradient(90deg, #f6d365 10%, #fda085 100%);
  justify-content: center;
  height: 100%; width:100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.addButton{ width:84px !important;     margin-top: 19px !important;}
.deleteButton{ min-width:30px !important; width:40px; height:35px !important;    margin-top: 19px !important; margin-top: 12px !important;
  margin-left: 15px !important;}
.MuiFormLabel-root.Mui-focused{
  color:#f50057 !important;
}
.MuiInput-underline:after,.MuiFilledInput-underline:after{border-bottom-color:#f50057 !important;}
.box_newtask{ margin-left: 7px; margin-top: 25px;}
.box_newtask input#standard-basic{ width:296px !important; }
.box_newtask .MuiGrid-grid-xs-8{max-width: inherit !important;}

.input_task {
  width: 250px !important;
  height: auto !important;
}
.MuiPaper-elevation1 {
  padding: 5px 30px 30px 30px;
  margin-top: 30px;
}




